<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kenyawakita.musi_king" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name="AnalyticsApplication"
        >
        <activity
            android:name="kenyawakita.musi_king.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WebviewActivity"
            android:label="@string/title_activity_content" >
        </activity>
        //インターステイシャル
        <activity
            android:name="com.ad_stir.interstitial.AdstirInterstitialActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name=".YoutubeChannel"
            android:label="@string/title_activity_youtube_channel" >
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="8cc7a2a3b162df56c78303062e2edffb2452e9d5" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="8cc7a2a3b162df56c78303062e2edffb2452e9d5" />

    </application>

</manifest>
